<main class="flex items-center justify-center h-full">
    <div class="w-full max-w-md space-y-8">
        <div class="space-y-2 text-center text-white">
            <h3 class="text-xl font-extrabold lg:text-3xl font-starjedi">
                Webstar
            </h3>
            <h2 class="text-5xl lg:text-7xl font-distant-galaxy">
                Frontend
            </h2>
        </div>
        <form class="mt-8 space-y-12" [formGroup]="loginForm" (ngSubmit)="onSubmit()" ngNativeValidate>
            <div class="overflow-y-hidden">
                <div [@appear] *ngIf="errorOccurred" class="flex items-center justify-center h-12 text-white border-2 rounded-md bg-black/15 border-red">
                    Hibás bejelentkezési adatokat adtál meg!
                </div>
            </div>
            <div class="space-y-4">
                <div class="text-center">
                    <label class="block mb-1 text-sm font-bold text-white" for="username">
                        Felhasználónév
                    </label>
                    <input class="relative block w-full p-3 text-center text-black border border-gray-300 border-none rounded-md appearance-none placeholder-gray"
                    id="username"
                    name="username"
                    type="text"
                    autocomplete="username"
                    formControlName="username"
                    required>
                </div>
                <div>
                    <label class="block mb-1 text-sm font-bold text-center text-white" for="password">
                        Jelszó
                    </label>
                    <input class="relative block w-full p-3 text-center text-black border border-gray-300 border-none rounded-md appearance-none placeholder-gray"
                    id="password"
                    name="password"
                    type="password"
                    autocomplete="password"
                    formControlName="password"
                    required>
                </div>
            </div>
            
            <button class="flex justify-center w-full p-4 font-bold text-black bg-indigo-600 rounded-md bg-orange" type="submit">
                Belépés
            </button>
        </form>
    </div>
</main>
