<div class="overflow-x-hidden">
    <div class="flex items-center justify-between lg:space-x-10 lg:justify-end">
        <div class="flex !w-auto swiper-pagination-wrapper"></div>
        <div class="flex space-x-5">
            <button (click)="prev()">
                <app-image class="w-12 h-12 max-w-none" name="arrow_circle" alt="Balra nyíl"></app-image>
            </button>
            <button (click)="next()" class="inline-block rotate-180">
                <app-image class="w-12 h-12 max-w-none" name="arrow_circle" alt="Jobbra nyíl"></app-image>
            </button>
        </div>
    </div>
    
    <div class="relative select-none w-100">
        <swiper (slideChange)="onSlideChange()" [pagination]="pagination" [slidesPerView]="1" [spaceBetween]="50">
            <ng-container *ngFor="let character of (characters$ |async )">
                <ng-template swiperSlide>
                    <figure class="flex justify-center lg:justify-end">
                        <app-image [name]="character.id" [alt]="character.name | strip" [title]="character.name | strip"></app-image>
                    </figure>
                </ng-template>
            </ng-container>
        </swiper>
        
        <ng-content></ng-content>
    </div>
</div>

<style>
    
    figure ::ng-deep img {
        height: 50vw;
        max-height: 50vh;
    }
    
    ::ng-deep .swiper-wrapper {
        align-items: flex-end;
    }
    
    ::ng-deep .swiper-pagination-bullet.selected-character {
        background-color: #F7B500;
        opacity: 1;
    }
    
    ::ng-deep .swiper-pagination-bullet.selected-character:after {
        width: 8px;
        height: 8px;
        border-color: #F7B500;
    }
    
    ::ng-deep .swiper-pagination-bullet {
        --swiper-pagination-bullet-width: 4px;
        --swiper-pagination-bullet-height: 4px;
        --swiper-pagination-bullet-inactive-color: #fff;
        --swiper-pagination-color: #fff;
        --swiper-pagination-bullet-inactive-opacity: 0.3;
        
        transition: opacity 200ms ease-in-out;
        position: relative;
    }
    ::ng-deep .swiper-pagination-bullet:after {
        width: 0;
        height: 0;
        position: absolute;
        content: ' ';
        display: inline-block;
        border-radius: 50%;
        border: 1px solid var(--swiper-pagination-bullet-inactive-color);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: var(--swiper-pagination-bullet-inactive-opacity);
        transition: all 300ms ease-in-out;
        transition-property: width, height;
    }
    ::ng-deep .swiper-pagination-bullet-active:after {
        width: 12px !important;
        height: 12px !important;
        border-color: var(--swiper-pagination-bullet-inactive-color) !important;
    }
</style>