

.grid-template {
    grid-template: 
    "title"
    "carousel"
    "content";
    
    @screen lg {
        grid-template: 
        "title carousel"
        "content carousel";
        
    }
}

.grid-area-title { grid-area: title }
.grid-area-content { grid-area: content }
.grid-area-carousel { grid-area: carousel }


.slideUp {
    transform: translateY(0%) !important;
}
