<div class="relative">
    <div class="grid grid-template gap-y-8">
        <!-- TITLE -->
        <h1 class="text-2xl font-black text-white grid-area-title">Válassz két harcost az ellenkező oldalakról!</h1>

        <!-- SIDE, POWER, NAME, DESCRIPTION, SELECT BUTTON -->
        <div class="z-10 flex flex-col text-white gap-y-8 grid-area-content">           
            <div class="flex flex-col sm:items-center gap-y-8 sm:flex-row-reverse lg:items-start sm:justify-between lg:flex-col lg:justify-start">   
                <ul class="flex flex-col gap-y-8">
                    <li class="flex items-center gap-x-4 sm:flex-row-reverse lg:flex-row">
                        <span class="inline-block bg-black border-white w-11 h-11 border-6"></span>
                        <div>
                            
                            <h5 class="font-bold text-orange sm:text-right lg:text-left">Oldal</h5>
                            <p class="text-xl font-black">
                                {{ (current | async)?.dark ? 'Sötét' : 'Világos' }}
                            </p>
                        </div>
                    </li>
                    
                    <li class="flex items-center gap-x-4 sm:flex-row-reverse lg:flex-row">
                        <span class="inline-flex items-center justify-center w-11 h-11 bg-orange">
                            <app-icon width="32" height="30" name="star"></app-icon>
                        </span>
                        
                        <div>
                            <h5 class="font-bold text-orange sm:text-right lg:text-left">Különleges erő</h5>
                            <p class="text-xl font-black whitespace-nowrap">{{ (current | async)?.power }}</p>
                        </div>
                    </li>
                </ul>
                
                <h2 [innerHTML]="(current | async)?.name" style="word-break:break-word" class="text-5xl leading-none lowercase sm:max-w-xs md:max-w-none font-starjedi lg:text-7xl 2xl:text-9xl"></h2>
            </div>
            
            <div class="lg:mt-4">
                <button (click)="selectCharacter()" [class.bg-orange]="(current | async)?.selected" class="py-2.5 font-bold border-2 rounded-md px-16 border-orange w-full sm:w-auto">
                    {{ !(current | async)?.selected ? 'Kiválasztom' : 'Kiválasztva' }}
                </button>
                <p *ngIf="sameSideWarning" class="flex items-center mt-2 space-x-2 text-orange">
                    <app-icon width="16" height="16" name="exclamation"></app-icon>
                    <span class="text-xs">Csak ellenkező csapatban lévő karakterek harcolhatnak egymással!</span>
                </p>
            </div>
            
            <div class="space-y-4">
                <div class="flex items-center space-x-3">
                    <span class="justify-center inline-block w-5 h-5 bg-orange"></span>
                    <p class="font-bold uppercase">leírás</p>
                </div>
                
                <p class="max-w-2xl">{{(current | async)?.description}}</p>
            </div>
            
            <div class="fixed bottom-0 left-0 right-0 px-8 text-center">
                <button [class.slideUp]="(readyToFight | async)"  (click)="fight()" class="p-4 text-lg text-black transition-all duration-1000 translate-y-full sm:text-xl rounded-tl-md rounded-tr-md font-starjedi bg-gradient-to-r from-blue to-red">
                    Küzdelem szimulálása
                </button>
            </div>
        </div>
        
        <!-- CAROUSEL -->
        <div class="z-0 w-full overflow-x-hidden lg:absolute grid-area-carousel">
            <app-characters-carousel (activeIndexChange)="onChange($event)" [characters$]="characters">
                <!-- CIRCLE -->
                <div class="w-[50vw] h-[50vw] max-h-[50vh] left-1/2 max-w-[50vh] absolute bottom-0 -translate-x-1/2 scale-[0.7] rounded-full lg:right-0 lg:left-auto lg:translate-x-0 bg-orange"></div>
            </app-characters-carousel>
        </div>
    </div>
    
</div>
