.slideUp {
    animation: slideUp 1s;
    animation-fill-mode: forwards;
    animation-delay: 1.25s;
    opacity: 0;
    transform: translateY(0%);
}
.light {
    .circle-wrapper {
        left: 100%;
        transform: translate(-100%, 0);
    }
    .to-center {
        left: 100%;
        transform: translateX(-100%);
    }
    right: 0;
}
.circle-wrapper {
    p {
        position: absolute;
        top: 0;
        z-index: 2;
        text-align: center;
        width: 100%;
        transform: translateY(calc(-100% - 2rem));
        margin-bottom: 10px;
    }
    width: 75%;
    position: absolute;
    padding-top: 75%;
    z-index: 1;
    left: 0;
    bottom: 0;
}
.circle {
    width: 100%;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 10%;
    border-radius: 100%;
}
.active {
    .circle-wrapper {
        animation: to-center 1s;
    }
    .to-center {
        left: 50%;
        transform: translateX(-50%);
    }
    left: auto !important;
    right: auto !important;
    left: 50% !important;
    transform: translateX(-50%);
    animation: grow 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    position: relative;
    z-index: 100;
}
.dark.active {
    .to-center {
        animation: to-center-left 1s;
    }
}
.light.active {
    .to-center {
        animation: to-center-right 1s;
    }
}
.wrapper {
    width: 100%;
}
.dark {
    left: 0;
}
figure {
    height: 100%;
    text-align: center;
    img {
        max-height: 100%;
        transform: translateY(15%);
    }
}
section {
    width: 50%;
    transition: all 1s;
    position: absolute;
    display: flex;
    top: 0;
}
.to-center {
    transition: all 1s;
}
.inactive {
    opacity: 0;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(200%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes grow {
    0% {
        width: 50%;
    }
    100% {
        width: 100%;
    }
}
@keyframes growCircle {
    0% {
        width: 80%;
        padding-top: 80%;
    }
    100% {
        width: 100%;
        padding-top: 100%;
    }
}
@keyframes to-center-right {
    0% {
        left: 100%;
        transform: translateX(-100%);
    }
    100% {
        left: 50%;
        transform: translateX(-50%);
    }
}
@keyframes to-center-left {
    0% {
        left: 0%;
    }
    100% {
        left: 50%;
        transform: translateX(-50%);
    }
}