<section [class.dark]="side === 'dark'" [class.light]="side === 'light'" [class.inactive]="active && active !== side" [class.active]="active === side">
    <div class="wrapper">
        <div class="flex">
            <div class="relative w-72 md:w-80 xl:w-96 to-center">
                <figure class="relative z-10 flex w-full h-full">
                    <img 
                    [alt]="(character$ | async)?.name | strip"
                    class="inline-block mt-auto"
                    srcset="/assets/{{(character$ | async)?.id}}.png 1x, /assets/{{(character$ | async)?.id}}@2x.png 2x, /assets/{{(character$ | async)?.id}}@3x.png 3x"
                    src="/assets/{{(character$ | async)?.id}}.png"
                    >
                </figure>
                <div class="circle-wrapper to-center">
                    <p [@fadeOut] *ngIf="!state" class="h-12 text-lg font-bold text-center md:text-xl xl:text-2xl">
                        {{ side === 'dark' ? 'Sötét oldal' : 'Világos oldal' }}
                    </p>
                    <div [class.bg-white]="side === 'light'" [class.bg-dark-gray]="side === 'dark'" class="circle"></div>
                </div>
            </div>
        </div>
        
        <p [class.text-right]="side === 'light'" class="relative inline-flex items-center mt-20 text-lg lowercase sm:text-xl whitespace-nowrap h-14 lg:text-3xl xl:text-4xl font-starjedi to-center">
            {{(character$ | async)?.name | strip }}
        </p>
        
        <div class="lg:mt-8 w-28 sm:w-56 xl:w-72"  [@fadeOut] *ngIf="!state" [class.ml-auto]="side === 'light'">
            <app-progress [mirrored]="side === 'light'" [color]="side === 'light' ? '#FF3232': '#F7B500'" [value]="(character$ | async)?.health || 0" [min]="0" [max]="100"></app-progress>
        </div>
        
        <div class="flex justify-center mt-8" *ngIf="state">
            <button (click)="goToHome()" class="px-4 py-4 font-bold text-black rounded-md md:px-8 md:text-base slideUp bg-orange">Vissza a fedélzetre</button>
        </div>
    </div>
    
</section>

