<div [class.mirrored]="mirrored" class="progress-wrapper">
    
    <div class="relative w-full h-4 bg-white rounded-sm md:h-5 progress">
        <span [style.background]="color" class="rounded-tr-sm rounded-br-sm w-[var(--v)] absolute left-0 inset-y-0 transition-[width] duration-200"></span>
    </div>
    <p class="transition-[width] duration-200 relative left-[var(--v)]">
        <span class="inline-block mt-2 text-lg font-bold -translate-x-1/2 md:text-2xl">{{value}}%</span>
    </p>
</div>

<style>
    .progress-wrapper {
        --v: calc(var(--value) / (var(--min) + var(--max)) * 100%);
    }
    
    .mirrored {
        transform: scale(-1, 1)
    }
    .mirrored p > span {
        transform: scale(-1, 1) translateX(50%);
    }
</style>