<main class="container flex flex-col h-full px-4 pb-4 mx-auto">
  <ng-container *ngIf="loggedIn">
    <app-navigation></app-navigation>
  </ng-container>
  
  <!-- Router-->
  <router-outlet></router-outlet>
  
  <footer class="mt-auto">
    <p class="py-2 text-xs text-center text-white md:text-right">Webstar Csoport kft. - © Minden jog fenntartva</p>
  </footer>
</main>

<!-- SVG Symbols-->
<app-symbols></app-symbols>

<style>
  app-root {
    background: var(--bg);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    app-root {
      background: var(--bg2x);
    }
  }
</style>