<div class="relative flex flex-col h-full text-white">
    <h1 class="text-xl text-center md:text-2xl lg:text-4xl xl:text-6xl font-starjedi">
        {{ !(hasWinner | async) ? 'A tudás legyen veled!' : 'A csata nyertese' }}
    </h1>
    
    <section class="relative mt-8">
        <app-simulation-panel side="dark" [active]="winnerSide" [character$]="darkCharacter$"></app-simulation-panel>

        <div [class.opacity-0]="(hasWinner | async)" class="fixed transition-opacity origin-center -translate-x-1/2 -translate-y-1/2 left-1/2 top-1/3 lg:top-1/2">
            <p class="font-distant-galaxy text-2xl md:text-4xl left-1/2 lg:text-8xl xl:text-[150px] uppercase">vs</p>
        </div>

        <app-simulation-panel side="light" [active]="winnerSide" [character$]="lightCharacter$"></app-simulation-panel>
    </section>
</div>


