<header class="flex justify-between py-6 text-sm border-b border-white mb-7 lg:text-base">
    <h5 class="flex items-center gap-2 lg:gap-3">
        <app-icon width="20" height="20" name="user"></app-icon>
        <span class="font-bold text-white">Felviteliző pilóta</span>
    </h5>

    <button (click)="logout()" class="flex items-center gap-2 lg:gap-3">
        <span class="font-bold text-white">Űrhajó elhagyása</span>
        <app-icon width="19" height="18" name="logout"></app-icon>
    </button>
</header>