<svg class="hidden">
    <symbol id="logout" width="19px" height="18px" viewBox="0 0 19 18">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="2" transform="translate(-1278.000000, -23.000000)">
                <g id="Group-14" transform="translate(140.000000, 20.000000)">
                    <g id="Group-10" transform="translate(876.000000, 0.000000)">
                        <g id="ic_exit_to_app" transform="translate(259.500000, 0.000000)">
                            <polygon id="Bounds" points="0 0 24 0 24 24 0 24"></polygon>
                            <path d="M10.09,15.59 L11.5,17 L16.5,12 L11.5,7 L10.09,8.41 L12.67,11 L3,11 L3,13 L12.67,13 L10.09,15.59 L10.09,15.59 Z M19,3 L5,3 C3.89,3 3,3.9 3,5 L3,9 L5,9 L5,5 L19,5 L19,19 L5,19 L5,15 L3,15 L3,19 C3,20.1 3.89,21 5,21 L19,21 C20.1,21 21,20.1 21,19 L21,5 C21,3.9 20.1,3 19,3 L19,3 Z" id="Icon" fill="#FFFFFF"></path>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </symbol>
    
    <symbol id="star" width="32px" height="30px" viewBox="0 0 32 30">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="2" transform="translate(-149.000000, -263.000000)" fill="#FFFFFF" fill-rule="nonzero">
                <g id="Group-4" transform="translate(140.000000, 168.000000)">
                    <g id="Group-Copy" transform="translate(0.000000, 85.000000)">
                        <g id="favourites-filled-star-symbol" transform="translate(9.000000, 10.000000)">
                            <path d="M30.6077244,10.2279841 L21.7954424,9.40575886 C21.2399245,9.35592703 20.7599065,9.00710418 20.5329016,8.48386991 L17.3765497,0.934346907 C16.8715334,-0.311448969 15.0784731,-0.311448969 14.5734568,0.934346907 L11.4423557,8.48386991 C11.2403492,9.00710418 10.7353329,9.35592703 10.1798149,9.40575886 L1.36728044,10.2279841 C0.0542380582,10.3525637 -0.476029059,11.9720984 0.50875273,12.8441555 L7.14971711,18.5997324 C7.57898097,18.9734712 7.75573667,19.5216214 7.6294826,20.0697716 L5.6346682,28.1422797 C5.33165842,29.4132406 6.72045325,30.45946 7.88199075,29.7869794 L15.2299779,25.5261083 C15.7097434,25.2520332 16.2905122,25.2520332 16.7702777,25.5261083 L24.1185174,29.7869794 C25.2800549,30.45946 26.6688497,29.4381565 26.3655874,28.1422797 L24.3960238,20.0697716 C24.2697698,19.5216214 24.4465255,18.9734712 24.8757893,18.5997324 L31.5167537,12.8441555 C32.4762847,11.9720984 31.9207667,10.3525637 30.6077244,10.2279841 Z" id="star"></path>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </symbol>
    
    <symbol id="user" width="20px" height="20px" viewBox="0 0 20 20">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="2" transform="translate(-142.000000, -22.000000)">
                <g id="ic_track_changes" transform="translate(140.000000, 20.000000)">
                    <polygon id="Bounds" points="0 0 24 0 24 24 0 24"></polygon>
                    <path d="M19.07,4.93 L17.66,6.34 C19.1,7.79 20,9.79 20,12 C20,16.42 16.42,20 12,20 C7.58,20 4,16.42 4,12 C4,7.92 7.05,4.56 11,4.07 L11,6.09 C8.16,6.57 6,9.03 6,12 C6,15.31 8.69,18 12,18 C15.31,18 18,15.31 18,12 C18,10.34 17.33,8.84 16.24,7.76 L14.83,9.17 C15.55,9.9 16,10.9 16,12 C16,14.21 14.21,16 12,16 C9.79,16 8,14.21 8,12 C8,10.14 9.28,8.59 11,8.14 L11,10.28 C10.4,10.63 10,11.26 10,12 C10,13.1 10.9,14 12,14 C13.1,14 14,13.1 14,12 C14,11.26 13.6,10.62 13,10.28 L13,2 L12,2 C6.48,2 2,6.48 2,12 C2,17.52 6.48,22 12,22 C17.52,22 22,17.52 22,12 C22,9.24 20.88,6.74 19.07,4.93 L19.07,4.93 Z" id="Icon" fill="#FFFFFF"></path>
                </g>
            </g>
        </g>
    </symbol>
    
    <symbol id="exclamation" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
    </symbol>
</svg>